<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.DamageListGoodsDao">

    <insert id="saveDamageListGoods" parameterType="com.atguigu.jxc.entity.DamageListGoods">
        insert into t_damage_list_goods
        (goods_id,goods_code,goods_name,goods_model,goods_unit,
        goods_num,price,total,damage_list_id,goods_type_id)
        values
        (#{goodsId}, #{goodsCode}, #{goodsName},#{goodsModel},#{goodsUnit},
         #{goodsNum}, #{price}, #{total}, #{damageListId},#{goodsTypeId})
    </insert>

    <select id="getDamageListGoodsById" resultType="com.atguigu.jxc.entity.DamageListGoods">
        select * from
        t_damage_list_goods where damage_list_id = #{damageListId}
    </select>
</mapper>