<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.OverflowListDao">
    <insert id="saveOverFlowList" parameterType="com.atguigu.jxc.entity.OverflowList"
            useGeneratedKeys="true" keyProperty="overflowListId" keyColumn="overflow_list_id">
        insert into t_overflow_list(
            overflow_number,overflow_date,remarks,user_id
        ) values (
            #{overflowNumber},
            #{overflowDate},
            #{remarks},
            #{userId}
        )
    </insert>

    <select id="getOverflowListGoods" resultType="com.atguigu.jxc.entity.OverflowList">
        select * from t_overflow_list where overflow_date &gt; #{sTime} and overflow_date &lt; #{eTime}
    </select>
</mapper>